<div class="header-outs" id="header">
    <!--banner -->
    <div class="header-w3layouts">
       <!--//navigation section -->
       <nav class="navbar navbar-expand-lg navbar-light">
          <div class="hedder-up">
             <h1><a class="navbar-brand" href="index.html">Smart Leave-App</a></h1>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
             <ul class="navbar-nav ">
                <li class="nav-item active">
                   <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                   <a href="#" class="nav-link ">About</a>
                </li>
                <li class="nav-item">
                   <a href="#" class="nav-link">Service</a>
                </li>

                <li class="nav-item">
                   <a href="#" class="nav-link">Contact</a>
                </li>
                <li class="nav-button">
                   <button type="button" class="btn login-hedder" data-toggle="modal" data-target="#exampleModalCenter" data-backdrop="false">
                   Login
                   </button>
                </li>
             </ul>
             <div class="both-butns">
                <ul>
                   <li>
                      <button type="button" class="register-hedder"  data-toggle="modal" data-target="#exampleModalCenter2">
                      Register
                      </button>
                   </li>
                   <li>
                      <div class="contact-hedder">
                         <a href="#">
                         Contact Us</a>
                      </div>
                   </li>
                </ul>
             </div>
          </div>
       </nav>
       <!--//navigation section -->
       <div class="clearfix"> </div>
    </div>
 </div>


 <div class="slider">
    <div class="callbacks_container">
       <ul class="rslides" id="slider4">
          <li>
             <div class="slider-img one-img">
                <div class="container">
                   <div class="slider-info ">
                      <h5>Focus on Mission</h5>
                      <div class="slider-sub">
                         <h6>We Focus on our HR</h6>
                      </div>
                      <div class="bottom-info">
                         <p>
                            Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt utadipiscing
                         </p>
                      </div>
                      <div class="outs_more-buttn">
                         <a href="#">Read More</a>
                      </div>
                   </div>
                </div>
             </div>
          </li>
          <li>
             <div class="slider-img two-img">
                <div class="container">
                   <div class="slider-info ">
                      <h5>Expert knowledge
                      </h5>
                      <div class="slider-sub">
                         <h6>Best work place</h6>
                      </div>
                      <div class="bottom-info">
                         <p>
                            Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt utadipiscing
                         </p>
                      </div>
                      <div class="outs_more-buttn">
                         <a href="#">Read More</a>
                      </div>
                   </div>
                </div>
             </div>
          </li>
          <li>
             <div class="slider-img three-img">
                <div class="container">
                   <div class="slider-info">
                      <h5>Face Your Challenge
                      </h5>
                      <div class="slider-sub">
                         <h6>Become a Winner</h6>
                      </div>
                      <div class="bottom-info">
                         <p>
                            Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt utadipiscing
                         </p>
                      </div>
                      <div class="outs_more-buttn">
                         <a href="#">Read More</a>
                      </div>
                   </div>
                </div>
             </div>
          </li>
       </ul>
    </div>
    <!-- This is here just to demonstrate the callbacks -->
    <!-- <ul class="events">
       <li>Example 4 callback events</li>
       </ul>-->
    <div class="clearfix"></div>
 </div>


 <section class="about py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
       <div class="row w3layout-abt-info text-center">
          <div class="col-lg-3 col-md-6 col-sm-6 abut-list-w3layouts">
             <div class="abtr-inner-sub">
                <span class="fa fa-pie-chart" aria-hidden="true"></span>
                <div class="abt-icon-list-wls mt-3">
                   <h4 class="mb-3">Good Skills</h4>
                   <p>delectus reiciendis maiores alias consequatur aut.maiores alias consequatur aut.maiores alias maiores alias </p>
                </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 abut-list-w3layouts">
             <div class="abtr-inner-sub">
                <span class="fa fa-check" aria-hidden="true"></span>
                <div class="abt-icon-list-wls mt-3">
                   <h4 class="mb-3">Experts Help</h4>
                   <p>delectus reiciendis maiores alias consequatur aut.maiores alias consequatur aut.maiores alias maiores alias </p>
                </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 abut-list-w3layouts">
             <div class="abtr-inner-sub">
                <span class="fa fa-area-chart" aria-hidden="true"></span>
                <div class="abt-icon-list-wls mt-3">
                   <h4 class="mb-3">Innovation</h4>
                   <p>delectus reiciendis maiores alias consequatur aut.maiores alias maiores alias </p>
                </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 abut-list-w3layouts">
             <div class="abtr-inner-sub">
                <span class="fa fa-cubes" aria-hidden="true"></span>
                <div class="abt-icon-list-wls mt-3">
                   <h4 class="mb-3">Creative</h4>
                   <p>delectus reiciendis maiores alias consequatur aut.maiores alias</p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>


       <!--/Login-->
       <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
           <div class="modal-content">
              <div class="modal-header text-center">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
                 </button>
              </div>
              <div class="modal-body">
                 <div class="login px-4 py-4 mx-auto mw-100">
                    <h5 class="text-center mb-4">Login Now</h5>
                    <form action="#" method="post">
                       <div class="form-group">
                          <p class="mb-2">Email address</p>
                          <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="" required="">
                       </div>
                       <div class="form-group">
                          <p class="mb-2">Password</p>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
                       </div>
                       <div class="form-check mb-3">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <p class="form-check-p">Check me out</p>
                       </div>
                       <button type="submit" class="btn submit" (click)="signIn()">Sign In</button>
                    </form>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <!--//Login-->
     <!--/Register-->
     <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
           <div class="modal-content">
              <div class="modal-header text-center">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
                 </button>
              </div>
              <div class="modal-body">
                 <div class="login px-4 py-4 mx-auto mw-100">
                    <h5 class="text-center mb-4">Register Now</h5>
                    <form action="#" method="post">
                       <div class="form-group ">
                          <p class="mb-2">First name</p>
                          <input type="text" class="form-control" id="validationDefault01" placeholder="" required="">
                       </div>
                       <div class="form-group">
                          <p class="mb-2">Last name</p>
                          <input type="text" class="form-control" id="validationDefault02" placeholder="" required="">
                       </div>
                       <div class="form-group">
                        <p class="mb-2">Email Id</p>
                        <input type="email" class="form-control" id="validationDefault02" placeholder="" required="">
                     </div>                       
                       <div class="form-group">
                          <p class="mb-2">Password</p>
                          <input type="password" class="form-control" id="password1" placeholder="" required="">
                       </div>
                       <div class="form-group">
                          <p class="mb-2">Confirm Password</p>
                          <input type="password" class="form-control" id="password2" placeholder="" required="">
                       </div>
                       <button type="submit" class="btn submit ">Register</button>
                    </form>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <!--//Register-->